@font-face {
    font-family: rowdies ;
    src: url(./font/Rowdies-Bold.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: rowdies ;
}

#backbody {
    background-color: #2D9BD2 !important;
}

body {
    background-image: url(./images/arrière-plan.avif);
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

th {
    border: 2px black solid;
    background-color: #EF4035;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

table {
    border: 2px black solid;
    
   
}

#pokedex {
    height: 120px;
    width: 120px;
    position: absolute;
    margin-right: 500px;
}

#pokeball {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    position: absolute;
    margin-left: 500px;
}

#card-poke {
    display: flex;
    align-items: center;
    justify-content: center;
}


#poke {
    background-color: white;
    border: 2px black solid; 
    margin: 10px ;
}

#poke:hover {
    background-color: #FFCC02;
    cursor: pointer;
    border-radius: 5px;
    border: 3px white solid;
}

td {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    background-color: #EF4035;
    color: white;
    border: 2px white solid;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#image_logo {
    height: 250px;
    width: 600px;
    background-color: #2D9BD2;
    margin-bottom: 80px;
    margin-top: 20px;
}


#image_logo2 {
    height: 250px;
    width: 600px;
    background-color:#EF4035;
    margin-bottom: 80px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #2871B8;
}


ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

footer {
    margin-top: 100px;
    width: 100%;
    background-color:#EF4035;
    padding: 5px;
    color: white;
    font-weight: bolder;
}

#sacha {
    margin-left: 40px;
    margin-top: 400px;
    position: absolute;

}

#mew {
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 70px;
    margin-left: 1100px;
    margin-top: 450px;
    
}

#roucarnage {
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 70px;
    margin-left: 100px;
    margin-top:200px;
    
}

#carapuce {
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 70px;
    margin-left: 100px;
    margin-top: 1150px;
    
}



#evoli {
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 70px;
    margin-left: 1100px;
    margin-top: 1150px;
    
}

#logo-back {
    height: 60px;
    width: 70px;
    margin-right: 30px;
    border-radius: 90px;
    border: #FE727B 5px solid ;
    cursor: pointer;
    
}


#text-ajout {
    position: absolute;
    margin-left: 1050px;
    margin-top: 270px;
    background-color: #EF4035;
    color: white;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    border: 2px white solid;
    text-decoration: none;
}

#text-ajout:hover {
    background-color:#FFCC02;
    cursor: pointer;
}


#chen { 
    position: absolute;
    margin-left: 1100px;
    margin-top: 400px;
    height: 800px;

    
}

ol { 

    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
    font-size: 25px;
    color: white;
    text-shadow: black 2px 2px, 2px 2px, 2px 2px, 2px 2px;

}

.detailstitre {
    color:#FFCC02;
    text-shadow: 3px 0 #3164AE, 2px 0 #3164AE, 0 3px #3164AE, 0 2px #3164AE,
    2px 2px, 2px 2px, 2px 2px, 2px 2px;
}

#pierre {
    position: absolute;
    margin-left: 100px;
    margin-top: 200px;
}

#lili {
    margin-left: 1200px;
    margin-top: 200px;
    position: absolute;
}

#entete {

    margin-top: 60px;

}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#inscription {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #EF4035;
    border: #EF4035 2px solid;
    margin: 0px 500px;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px #2871B8;
    margin-top: 100px;
}

.formulaire {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

#button {

    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #EF4035;
    color: white;
    border: 2px white solid;
    font-size: 20px;

}

#button2 {

    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color:#FFCC02;
    color: white;
    border: 2px white solid;
    font-size: 20px;

}



#button:hover {
    cursor: pointer;
    background-color: #FE727B;
}

#button2:hover {
    cursor: pointer;
    background-color: #2871B8;
}

label {
    color: white;
    text-shadow: black 2px 2px, 2px 2px, 2px 2px, 2px 2px;
    font-size: 30px;
    margin: 2px;
    
}

#page-ajout {
    margin-top: 40px;
}

#pikachu {
    position: absolute;
    height: 250px;
    width: 450px;
    background-color: none;
    margin-left: 550px;
    margin-top: 240px;
}